.background {
  background-image: url('../../assets/backgroundform.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 86, 111, 0.55);
  z-index: 1;
}

.container {
  position: relative; /* Necesario para posicionar la sombra de manera absoluta */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 1500px;
  width: 100%;
  z-index: 3; /* Asegura que todo el contenido esté sobre la máscara */
  transition: all 0.2s ease-in-out;
  border: solid 4px red;
}
.containerLeft {
  flex: 1;
  max-height: 500px;
  max-width: 600px;
  padding-top: 2.5rem;
}

.h1Style {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.containerShadow {
  position: absolute;
  top: 12%; /* Posición vertical relativa al contenedor */
  left: 66%; /* Posición horizontal relativa al contenedor */
  width: 33%; /* Ajusta el tamaño a un porcentaje relativo */
  max-width: 500px; /* Límite máximo de ancho */
  height: 90%; /* Altura relativa al contenedor */
  max-height: 568px; /* Límite máximo de altura */
  background-color: #bde4f091; /* Color de sombra */
  border-radius: 30px;
  z-index: 1; /* Detrás de containerRight */
  transition: all 0.2s ease-in-out; /* Añadido para hacerla suave */
}

.containerRight {
  position: relative; /* Necesario para el z-index */
  flex: 1;
  display: flex;
  max-width: 500px;
  height: 515px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FDFFFC;
  margin-right: 30px;
  border-radius: 30px;
  z-index: 3;
}

.h2Style, .pStyle, .formStyle {
  position: relative; /* Asegura que el contenido esté por encima de la sombra */
  z-index: 2; /* Mayor que el z-index de .containerShadow */
}

.h2Style {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: black;
  margin: 22px 0 0 35px;
}

.formStyle {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  z-index: 4;
}

.pStyle {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #837D7D;
  margin: 10px 0 15px 60px;
}

.labelStyle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: -5px;
  margin-left: 60px;
}

.inputStyle {
  width: 380px;
  padding: 15px;
  font-size: 17px;
  box-sizing: border-box;
  background-color: #F3F3F3;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-top: 5px; */
  margin-left: 60px;
}

.buttonStyle {
  width: 380px;
  height: 80px;
  background-color: #85B548;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonStyle:hover {
  background-color: #45a049;
}

@media (max-width: 1400px) {
  .container {
    width: 70%;
    max-width: 1200px; /* Ajusta según el tamaño deseado */
    min-width: 312px; /* Asegura que no se reduzca demasiado */
    margin: 0 auto; /* Centra el contenedor */
    position: relative; /* Necesario para posicionar hijos con absolute */
  }

  .containerLeft {
    margin: 30px 0px 0 0;
    min-width: 260px;
    height: 400px;
  }

  .containerRight {
    min-height: 500px;
    min-width: 400px;
    margin: 0 0 0 80px;
  }

  .containerShadow {
    position: absolute; /* Se posiciona dentro de .container */
    top: 11%; /* Mantiene la posición relativa dentro de .container */
    left: 61%; /* Mantiene la posición relativa dentro de .container */
    width: 40%; /* Ajusta el tamaño en porcentaje relativo */
    max-width: 394px; /* Limita el tamaño máximo */
    height: 90%; /* Ajusta la altura relativa */
    max-height: 500px; /* Limita la altura máxima */
    background-color: #bde4f091;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.2s ease-in-out; /* Añadido para hacer la transición más suave */
  }

  .h1Style {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .h2Style {
    font-size: 32px;
  }

  .inputStyle {
    width: 75%;
    font-size: 15px;
  }

  .buttonStyle {
    width: 75%;
  }
}


@media (max-width: 1110px) {
  .container {
    flex-direction: column;
    align-items: center; /* Centra los elementos en pantallas pequeñas */
  }

  .containerLeft {
    margin: 0; /* Remueve márgenes para mejor alineación */
    max-width: 100%; /* Ajusta el ancho al 100% */
    text-align: center; /* Centra el texto si es necesario */
  }

    .h1Style {
      font-family: 'Inter', sans-serif;
      font-size: 2.25rem; /* Tamaño de fuente grande */
      font-weight: bold;
      color: white;
      line-height: 1.5; /* Mejora la separación de las líneas */
      text-align: justify; /* Alineación de texto más limpia */
      margin-bottom: 1.5rem; /* Espacio al final del título */
      word-wrap: break-word; /* Permite que el texto se ajuste al contenedor */
      }


  .containerRight {
    margin: 20px 0 0 0; /* Espaciado entre los contenedores */
    max-width: 90%; /* Para evitar que se estire demasiado en pantallas pequeñas */
  }

  .containerShadow {
    display: none; /* Opcional: oculta la sombra si interfiere con el diseño */
  }
}