.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
  font-weight: 700;
  font-size:1rem
}

.navLinkScrolled {
  color: black;
}

.menuBtn {
  display: none; /* aún no se usa */
}
